{% extends 'polls/base.html' %}
{% block content %}
<br> 
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Question: </h1>
            <p class="lead"><h3>{{ question.question_text }}</h3></p>
          </div>
        </div>

        

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

          <form action="{% url 'vote' question.id %}" method="post" class="custom-control custom-radio">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Apply" class="btn btn-primary btn-lg active" role="button">
          </form>
          
{% endblock %}